[submodule "shared-types"]
	path = shared-types
	url = git@github.com:AHMED-5G/portfolio-shared-data.git
[submodule "shared-data"]
	path = shared-data
	url = https://github.com/AHMED-5G/portfolio-shared-data
